<!DOCTYPE html>
<html>
<head>
    <title>¿Cómo Reciclar?</title>
</head>
<body>
    <h1>¿Cómo podemos reciclar correctamente?</h1>
    <p>Guía visual para reciclar:</p>
    <img src="{{ url_for('static', filename='images/img1.jpg') }}" width="300">
    <img src="{{ url_for('static', filename='images/img2.jpg') }}" width="300">
    <img src="{{ url_for('static', filename='images/img3.jpg') }}" width="300">
    <h2>Video explicativo</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YiHTNfKJwAw" frameborder="0" allowfullscreen></iframe>
    <br><a href="/">Volver al inicio</a>
</body>
</html>