<!DOCTYPE html>
<html>
<head>
    <title>Juan - Plataforma Reciclaje</title>
</head>
<body>
    <h1>Bienvenidos a la plataforma del cuidado del medio ambiente</h1>
    <p>Se busca que las generaciones actuales y futuras puedan satisfacer sus necesidades sin comprometer los recursos de las próximas generaciones. Esto implica adoptar prácticas que protejan los ecosistemas y minimicen el impacto humano, así que ¡cuídalo! Es nuestro bienestar común.
        Todos tenemos la obligación de cuidar y proteger el planeta, todos debemos cuidar nuestros bienes comunes. Cuidar de la naturaleza es cuidar de las personas también. Respetemos sus ciclos vitales y contribuyamos a que la inmensa diversidad biológica del mundo se mantenga y prospere.
    </p>
    <img src="{{ url_for('static', filename='images/img4.jpg') }}" width="400">
    <nav>
        <a href="/">Inicio</a> |
        <a href="/por-que-reciclar">¿Por qué reciclar?</a> |
        <a href="/como-reciclar">¿Cómo reciclar?</a> |
        <a href="/recursos">Recursos</a> |
        <a href="/participa">Participa</a>
    </nav>
</body>
</html>