<!DOCTYPE html>
<html>
<head>
    <title>¿Por qué Reciclar?</title>
</head>
<body>
    <h1>¿Por qué es importante reciclar?</h1>
    <p>Reciclar ayuda a reducir la contaminación, ahorrar energía y conservar recursos naturales. Cuando separamos correctamente los residuos, evitamos que materiales reutilizables terminen en vertederos, y contribuimos a un planeta más limpio para las futuras generaciones.</p>
    <img src="{{ url_for('static', filename='images/img5.jpg') }}" width="600">
    <br><a href="/">Volver al inicio</a>
</body>
</html>