<!DOCTYPE html>
<html>
<head>
    <title>Recursos</title>
</head>
<body>
    <h1>Material descargable</h1>
    <ul>
        <li><a href="{{ url_for('static', filename='images/infografia.png') }}" download>Descargar Infografía</a></li>
        <li><a href="{{ url_for('static', filename='images/img1.jpg') }}" download>Imagen 1</a></li>
        <li><a href="{{ url_for('static', filename='images/img2.jpg') }}" download>Imagen 2</a></li>
    </ul>
    <br><a href="/">Volver al inicio</a>
</body>
</html>